PORT=XXXX
DB='[dialect]://[user]:[password]@[host]:[port]/[database]'
ACCESS_TOKEN_SECRET=your access token secret string
REFRESH_TOKEN_SECRET=your refresh token secret string
CLIENT_ORIGIN=http://localhost:5173
TELEGRAM_BOT_TOKEN=123456789:ABCdefGHIjklMNOpqrsTUVwxyz
TELEGRAM_AUTH_MAX_AGE_SECONDS=86400