PORT=XXXX
DB='[dialect]://[user]:[password]@[host]:[port]/[database]'
ACCESS_TOKEN_SECRET=your access token secret string
REFRESH_TOKEN_SECRET=your refresh token secret string
CLIENT_ORIGIN=http://localhost:5173
TELEGRAM_BOT_TOKEN=123456789:ABCdefGHIjklMNOpqrsTUVwxyz
TELEGRAM_AUTH_MAX_AGE_SECONDS=86400
PYTHON_RECOMMENDATION_URL=http://localhost:8001
YANDEX_GEOCODER_API_KEY=your-yandex-geocoder-key
YANDEX_GEOCODER_URL=https://geocode-maps.yandex.ru/1.x/
GIGACHAT_API_KEY=your-gigachat-api-key
AI_BOOKING_ASSISTANT_ENABLED=true
AI_BOOKING_ASSISTANT_MODEL=GigaChat
AI_BOOKING_ASSISTANT_TIMEOUT_MS=15000
AI_BOOKING_CANDIDATES_LIMIT=24
AI_BOOKING_CACHE_TTL_MS=120000
AI_BOOKING_MIN_PROMPT_WORDS=3
AI_BOOKING_MIN_PROMPT_CHARS=18
AI_BOOKING_ASSISTANT_LOGS=false
